@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* CSS Variables: */
  --padding-default: 10px;

}

* {
  /* Basic setup to eliminate strange margin, padding, and box sizing */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  height: dvh;
  width: dvw;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Root div element of the "App" */
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

nav {
  margin: 0;
  padding: var(--padding-default);
  height: calc(var(--padding-default) * 4);
  width: 100%;

  position: sticky;
  top: 0;
  right: 0;
  left: 0;

  background-color: lightgray;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  margin: 0;
  padding: var(--padding-default);
  height: calc(var(--padding-default) * 4);
  width: 100%;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: lightgray;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 0;
  padding: var(--padding-default);
  width: 100%;

  display: grid;
  justify-items: center;
}

.nav-buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}